
:root {
    --basefont: 14px;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Roboto', arial, sans-serif;
    font-size: var( --basefont );
    line-height: 1.8rem;
    color: #2c2823;
    font-weight: 300;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

*::placeholder {
    color: red;
}

ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 100;
}

p {
    margin-bottom: 20px;
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    background-color: #a39d9d;
}

section > div {
    padding: 40px 10vw;
}

section:nth-child( odd ) {
    
    background-color: #999292;
}

/* 
====================
section hero 
*/

#hero {
    height: 45vh;
    display: flex;
}

#hero > div {
    flex: 1 0 0;
}

#hero > div:last-child {
    background-image: url( ../images/house_current.png );
    background-size: cover;
    background-position: center;
    /* background-size: 50%; */
    background-repeat: no-repeat;
}

#hero > div:first-child {
    background-color: #413d35;
    background-image: linear-gradient( to right, #333029, #413d35 );
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#hero > div:first-child > div {
    text-align: center;
    letter-spacing: 0.3rem;
}

#hero > div:first-child > div > span {
    font-size: 0.8rem;
    display: block;
    /* margin-top: 5px; */
    color: #a39d9d;
    letter-spacing: 0.16rem;
}

@media (max-width: 600px ) {
    #hero > div:first-child > div {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        width: 125px;
    }
    #hero > div:first-child > div > span {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }
}

/* 
====================
section overview 
*/



/* 
====================
section zillow gallery 
*/

#zillow-gallery {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr) );
    grid-auto-rows: 230px;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#zillow-gallery > div {
    padding: 0px;
    /* object-fit: cover; */
    overflow: hidden;
    background-color: #a39d9d;
    background-repeat: no-repeat;
    background-size: cover;
}

#zillow-gallery img {
    width: 100%;
    object-fit: fill;
}

/* 
====================
section video
*/

#video {
    background-color: #413d35;
    background-image: linear-gradient(#13110e, #413d35);
}

#video > div {
    text-align: center;
}

@media ( max-width: 600px ) {
    #video > div {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#video video {
    width: 100%;
    max-width: 640px;
    margin: 0px auto;
}

#video video:focus {
    outline: none;
}